
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    
   
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}"/>
<span class="hello-msg">Hello, {{request.user}}</span>
  <span ><a  class="hello-msg" href="{% url 'logoutuser' %}">Logout</a></span>
  <span ><a  class="period" href="{% url 'periodt' %}">Period Tracker</a></span>
</head>
    
    <body onload="renderDate()">

    <div class="wrapper">
      <div class="sider">
                <img class="ipad-screen img-responsive" src="{% static 'images/wate.jpeg' %}"/>
            </div>
    
        <div class="calendar">
            <div class="month">
                <div class="prev" onclick="moveDate('prev')">
                    <span>&#10094;</span>
                </div>
                <div>
                    <h2 id="month"></h2>
                    <p id="date_str"></p>
                </div>
                <div class="next" onclick="moveDate('next')">
                    <span>&#10095;</span>
                </div>
            </div>
            <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days">


            </div>
        </div>
    </div>
  
        
    <script src="{% static 'js/dashboard.js' %}"></script>
  </body>
</html>
