{% load static %}  
<html>
 
<head>
 
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WomenHealth</title>
    <meta name="women theme" content="width=device-width, initial-scale=1">
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

</head>

<body>

<!-- Navigation
    ================================================== -->
<div class="hero-background">
    <div>
        <img class="strips" src="{% static 'images/strips.png' %}">
    </div>

    <div class="container">
        <div class="header-container header">
            
            <div class="header-right">
                <a class="navbar-item" href="{% url 'login' %}">LOGIN</a>
                <a class="navbar-item" href="{% url 'signup' %}">SIGNUP</a>
                <a class="navbar-item" href="#features">FEATURES</a>
            </div>
        </div>
        <!--navigation-->


        <!-- Hero-Section
          ================================================== -->

        <div class="hero row">
            <div class="hero-right col-sm-6 col-sm-6">
                <h1 class="header-headline bold"> WOMENHEALTH <br></h1>
                <h4 class="header-running-text light"> By staying on top of your health and making positive changes that can last a lifetime.</h4>
            </div><!--hero-left-->

            <div class="col-sm-6 col-sm-6">
                <img class="ipad-screen img-responsive" src="{% static 'images/wh.jpg' %}"/>
            </div>

            <div><img class="mouse" src="{%  static 'images/mouse.svg'%}"/></div>


        </div><!--hero-->

    </div> <!--hero-container-->

</div><!--hero-background-->


<!-- Features
  ================================================== -->

<div id="features" class="features-section">

    <div class="features-container row">

        <h2 class="features-headline light">FEATURES</h2>

        <div class="col-sm-4 feature">

            <div class="feature-icon feature-no-display">
                <img class="feature-img" src="{% static 'images/wt.jpg' %}">
            </div>
            <h5 class="feature-head-text feature-no-display"> WATER/ENERGY TRACKER </h5>
            <p class="feature-subtext light feature-no-display"> Looks amazing on any
                device: smartphone, tablet, laptop and desktop.</p>
        </div>

        <div class="col-sm-4 feature">
            <div class="feature-icon feature-no-display feature-display-mid">
                <img class="feature-img" src="{% static 'images/pt.jpg' %}">
            </div>
            <h5 class="feature-head-text feature-no-display feature-display-mid">PERIOD TRACKER</h5>
            <p class="feature-subtext light feature-no-display feature-display-mid"> Change the colors, pictures or any
                of the sections
                to suit your needs.</p>
        </div>

        <div class="col-sm-4 feature">
            <div class="feature-icon feature-no-display feature-display-last">
                <img class="feature-img" src="{% static 'images/faq.jpg'%}">
            </div>
            <h5 class="feature-head-text feature-no-display feature-display-last"> FAQ </h5>
            <p class="feature-subtext light feature-no-display feature-display-last"> Trendy and fresh design, fits any
                website.</p>
        </div>
    </div> <!--features-container-->
</div> <!--features-section-->

<!-- Email-Section
  ================================================== -->

<div class="blue-section">
    <h1 class="blue-section-header bold"> FAQ </h1>
    <h4 class="blue-section-subtext light">Take it for a ride for any of your projects!</h4>

    <div class="email-form-div">
        <form id="email-form" class="form-group email-form" action="mailchimp.php" method="post">
            <input type="email" class="form-control email-input" name="email" id="newsletter-email-input"
                   placeholder="Enter your email">
            <button type="submit" class="btn submit-btn">TO KNOW MORE</button>
            <div id="newsletter-spinner">
                <i class="fa fa-cog fa-spin" style="font-size:24px"></i>
            </div>
        </form>
    </div>
    <!--email-form-div-->

    <div id="newsletter-loading-div"></div>
    <!--email-form-->
</div>
<!--blue-section-->

<!-- Footer
  ================================================== -->

<div class="footer">

    <div class="container">
        <div class="row">

            <div class="col-sm-2"></div>

            <div class="col-sm-8 webscope">
                <span class="webscope-text"> WOMENHEALTH </span>
            </div>
        </div>
        <!--row-->

    </div>
    <!--container-->
</div>
<!--footer-->


<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<script src="{% static 'js/script.js' %}"></script>

</body>

</html>